.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* Aligns all items vertically in the center */
  max-width: 300px;
  padding: 5px;
  border-bottom: 1px solid black;
}

.close {
  opacity: 0;
  transition: 0.3s;
}

.close:hover {
  opacity: 1;
  cursor: pointer;
}

.complete {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.complete,
.close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid green;
}

.textOver {
  text-decoration: line-through;
}
